{% extends "back.html.twig" %}

{% block title %}{{ job.name }}{% endblock %}

{% block body %}

<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">{{ job.name }}</h3>

        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item">Mis à jour le {{ job.updatedAt|format_datetime() }}</li>
        </ul>

        <a href="{{ path('backend_job_edit', {id: job.id}) }}" class="btn btn-info">Modifier</a>
        <a href="{{ path('backend_job_delete', {id: job.id}) }}" class="btn btn-danger" onclick="return confirm('Supprimer le film {{ job.name|e('js') }} ?')">Supprimer</a>

    </div>
</div>

<hr>
<a href="{{ path('backend_job_list') }}">Retour à la liste</a>

{% endblock %}