{% extends "base.html.twig" %}

{# On y met le titre pour le SEO #}
{% block title %}{{ movie.title }}{% endblock %}

{% block body %}

<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">{{ movie.title }}</h3>

        {% set imageUrl = movie.poster is not null ? 'uploads/posters/' ~ movie.poster : 'default-movie.jpg' %}
        <img class="float-right w-25" src="{{ asset(imageUrl) }}">

        <div class="card-subtitle mb-2">
            {# On affiche les genres #}
            {% for genre in movie.genres %}
            <span class="badge badge-info">{{ genre.name }}</span>
            {% endfor %}
        </div>

        {# On affiche le casting du film #}
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-uppercase">Casting</li>
            {% for casting in castings %}
            <li class="list-group-item"><span class="text-primary">{{ casting.person.name }}</span> :
                {{ casting.role }} ({{ casting.creditOrder }})</li>
            {% endfor %}
        </ul>
    </div>
</div>

<a href="{{ path('home') }}">Retour à l'accueil</a>

{% endblock %}